.comments-wrap
    .comments-item
        margin-bottom: 10px

        label,input,textarea
            display: inline-block
            vertical-align: top
            box-sizing: border-box

        label
            width:20%

        input,textarea
            width: 80%
            border: 1px solid #999999

            padding: 3px 10px

    .user-submit
        text-align: right 

        a
            display: inline-block
            color: #000000
            padding: 10px 20px

            background: rgba(0,0,0,.5)

// 内容
.CommentsList-box
    li
        margin: 10px 0
        padding: 5px 15px
        border: 1px solid #cccccc

        .anthor-name
            margin-right: 10px