.comments-wrap
    .comments-item
        margin-bottom: 10px

        label,input,textarea
            display: inline-block
            vertical-align: top

        label
            width:20%

        input,textarea
            width: 70%
            border: 1px solid #999999

            padding: 3px 10px

    .user-submit
        text-align: right 

        a
            display: inline-block
            color: #000000
            padding: 10px 20px

            background: rgba(0,0,0,.5)