
html
    body
        width 80%
        margin 0 auto


// 方法
border-radius(n)
    border-radius n

#app
    position relative

    .App
        position relative
        
        .App-header
            border-radius(10px)